# Cache and logs (Symfony2)
php-symfony3/app/cache/*
php-symfony3/app/logs/*
!php-symfony3/app/cache/.gitkeep
!php-symfony3/app/logs/.gitkeep

# Cache and logs (Symfony3)
php-symfony3/var/cache/*
php-symfony3/var/logs/*
!/php-symfony3var/cache/.gitkeep
!/php-symfony3var/logs/.gitkeep

# Parameters
php-symfony3/app/config/parameters.yml
php-symfony3/app/config/parameters.ini

# Managed by Composer
php-symfony3/app/bootstrap.php.cache
php-symfony3/var/bootstrap.php.cache
php-symfony3/bin/*
!php-symfony3/bin/console
!php-symfony3/bin/symfony_requirements
php-symfony3/vendor/

# Assets and user uploads
php-symfony3/web/bundles/
php-symfony3/web/uploads/

# PHPUnit
php-symfony3/app/phpunit.xml
php-symfony3/phpunit.xml

# Build data
php-symfony3/build/

# Composer PHAR
php-symfony3/composer.phar
/nbproject/private/